.header_background {
  display: flex;
  justify-content: center;
  background-color: rgb(240, 240, 240);

  .header_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 900px;
    width: 100%;

    .header_title, .header_link, .header_active_link {
      font-family: Ubuntu;
    }

    .header_title {
      font-size: 20px;
      font-style: italic;
      font-weight: 400;
    }

    .header_linkbox {
      display: flex;
      flex-direction: row;
      gap: 16px;

      .header_link, .header_active_link {
        text-decoration: none;
        font-size: 16px;
      }
  
      .header_link {
        color: black;
  
        transition: all 0.15s;
        &:hover {
          color: #138dda;
          letter-spacing: 0.5px;
        }
      }
  
      .header_active_link {
        color: #138dda;
        letter-spacing: 0.5px;
      }
    }
  }
}

@media screen and (max-width: 932px) {
  .header_box {
    padding: 0 16px;
  }
}